$containerBackground: #78909c;

#orderBookContainer {
    background-color: $containerBackground;
    padding: 24px;
    border-radius: 13px;
}

.column h3 {
    font-size: 24px;
    text-align: center;
}